body {
  font-family: "Lucida Grande", Arial, Tahoma, Helvetica;
  font-size: 12px;
}

a {
  color: #000;
  &:hover { color: #09f; text-decoration: none; }
  img { border: none; }
}

#content {
  p {
    line-height: 20px;
  }
}

span {
  color: #09f;
}

#footer {
  color: #fff;
  font-size: 12px;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}