/*
 Application Stylesheet File
 (leave this block for tests)
*/

body {
  background-color: #fff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}

@import "fancybox";
@import "flash";
@import "font";
@import "layout";
@import "locale_bar";
@import "rightnav";
@import "titleline";
@import "team";
